.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.swiper-button-prev {
    background-color: #fff;
    border-radius: 50px;
    height: 50px!important;
    width: 50px!important;
    border: 1px solid #fff;
    z-index: 999999 !important;
    color: #2da3db!important;
    /*left:-40px !important */;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.swiper-button-next {
 background-color: #fff;
    border-radius: 50px;
    height: 50px!important;
    width: 50px!important;
    border: 1px solid #fff;
    z-index: 9999 !important;
color: #2da3db!important;
/* left:-40px !important */
}
